# Project exclude paths
/venv/
.gitignore
.idea/.gitignore
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
".idea/\344\270\200\351\224\256\346\211\223\345\215\241.iml"
.vscode
/website.txt
.idea/dictionaries/
.idea/other.xml
.idea/vcs.xml
__pycache__/
